In [9]:

x=5

In [10]:
if x>10 :
  print("x>10")

In [15]:
x=10
if x>10 :
  print("x is greater than 10")
if x<10 :
  print("x is less than 10")
if x==10 :
  print("x is equal to 10")

x is equal to 10

In [24]:
x=int(input(" ENTER YOUR MARKS: "))
if (x>100) :
  print(" PASSED ")
if(x<100) :
  print(" FAILED ")
if(x==100) :
  print(" JUST PASSED ")

 ENTER YOUR MARKS: 34
 FAILED

In [27]:
 
 income = int(input(" Please enter your taxable income in india: "))
 if income <= 250000 : 
   print(" ZERO TAX ")
 if income > 250000 :
   print( "Your tax is",income*(0.10))

 Please enter your taxable income in india: 400000
Your tax is 40000.0